h1{
    color: red;
    
}
.gameBoard{
    display: grid;
    margin-top: 30px;
    
    width: 500px;
    height: 500px;
    
    grid-template-columns: repeat(3,1fr);
   
}
.controls{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.cell{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board, .title, .disTurn{
    display: flex;
    align-items: center;
    justify-content: center;
}
input {
    border: 2px solid black;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 5px;
    border-color: black;
  }
  input:focus {
    background-color: lightblue;
  }
  input:user-invalid {
    border-color: red;
    
  }
  input:user-valid {
    border-color: green;
  }
  form:invalid>#btnStart {
    pointer-events: none;
  }