h1{
    color: red;
    
}
.gameBoard{
    display: grid;
    width: 500px;
    height: 500px;
    
    grid-template-columns: repeat(3,1fr);
   
}
.cell{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}